---
layout: page
title: 
description: "My notes on things that I work on at the moment. Typically realted to open source, SAP HANA, ERP, CRM, web apps and mobile apps"
tags: [open source, HANA, ERP, CRM, web apps, mobile apps]
---

<p>
These are my notes on things that I work on at the moment. Typically related to Open Source, SAP HANA, ERP, CRM, web apps and mobile apps. From time to time I develop tools that I find useful. These can be found at my <a href="http://github.com/colmsjo">Github account</a>.
</p>

<br/>

<p>
My latest, and at the current time most interesting, articles:
</p>

<ul class="post-list">
{% for post in site.posts limit:10 %} 
  <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
{% endfor %}
</ul>

<br/>

<p>My most popular articles according to Google Analytics (in order of popularity):</p>

<ul class="post-list">

  <li><article>
  		<a href="{% post_url 2013-04-14-130414_Openbravo_on_OSX %}">OpenBravo on OSX
  			<span class="entry-date"><time>2013-04-14</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2012-01-01-Mainframe %}">Mainframe (interesting that this is read a lot 2014)
  			<span class="entry-date"><time>pre 2012</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2014-08-04-OData-notes %}">OData - "ODBC for the web", extremely useful, developed by Microsoft and used by SAP among others
  			<span class="entry-date"><time>2013-08-04</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2013-07-21-130721_Streams_in_NodeJS %}">Streams in NodeJS
  			<span class="entry-date"><time>2013-07-21</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2013-03-14-130314_Hive_and_Excel_on_EMR %}">Hive and Excel on Elastic Map Reduce
  			<span class="entry-date"><time>2013-04-14</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2013-03-19-130319_Hive_on_OSX %}">Hive on OSX
  			<span class="entry-date"><time>2013-03-19</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2012-01-01-Open-source-document-management %}">Open source document management
  			<span class="entry-date"><time>pre 2012</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2014-07-13-Testing-SAP-HANA %}">Testing SAP HANA
  			<span class="entry-date"><time>2014-07-13</time></span>
  		</a>
  </article></li>

  <li><article>
  		<a href="{% post_url 2012-01-01-Ofbiz %}">Ofbiz
  			<span class="entry-date"><time>pre 2012</time></span>
  		</a>
  </article></li>

</ul>

